<!DOCTYPE html>
<html lang="en">

<head>
  <title><%- title %></title>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/study/css/time.css" />
  <link rel="stylesheet" href="/study/css/chat.css" />

  <style>
    .iframe {
      widows: 200px;
      height: 200px;
    }

    .mySlides {
      display: none;
    }

    .w3-content{
      padding-top: -20px;
      padding-bottom: 30px;
    }
  </style>

  

</head>

<body class="subpage">
  <% include ../../partials/header %>

  <div class="w3-content w3-section" style="max-width:900px">
    <img class="mySlides w3-animate-top" src="https://langmaster.edu.vn/public/templates/public/landing-hoc-tieng-anh-giao-tiep-online-truc-tuyen-cho-nguoi-moi-bat-dau/images/banner_main.jpg" style="width:100%">
    <img class="mySlides w3-animate-top" src="https://i.ytimg.com/vi/Y8IFT9kMXBg/maxresdefault.jpg" style="width:100%">    
    <img class="mySlides w3-animate-bottom" src="https://bostonenglish.edu.vn/wp-content/uploads/2017/08/GIAO-TI%E1%BA%BEP-%C4%90%E1%BB%98T-PH%C3%81.png" style="width:100%">
    <img class="mySlides w3-animate-top" src="https://aroma.vn/wp-content/uploads/2014/10/nguoi-moi-bat-dau-Recovered.jpg" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="https://i.ytimg.com/vi/qQut2YoyOrc/maxresdefault.jpg" style="width:100%">
  </div>

  <section class="uv-course-archive">
    <div class="container">
      <div class="educationpress-main-content-inner row">
        <div class="col-md-2">

        </div>
        <div id="primary" class="content-area uv-course-listing-inner col-md-8 col-sm-12">
          <div class="uv-sudent-profile-info padding-top-o">
            <div class="uv-student-courses-overview">
              <ul>

                <% data.forEach((e,i) => { %>

                <li>
                  <a>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="course-feature-img">
                          <img src="<%=e.IMAGE_COURSE%>" alt="" class="img-responsive" />
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="uv-std-course-info">
                          <a href="/class/<%= e.ID %>">
                            <h6><%=e.TITLE_COURSE%></h6>
                          </a>
                          <div class="uv-std-course-review">
                            <ul>
                              <li>
                                Trạng thái: <%=e.STATUS_COURSE == 1?"Đang mở"
                                  : "Đã đóng" %>
                              </li>
                              <li>&nbsp;&nbsp;</li>
                              <!-- <li>
                                              <i class="fa fa-eye" style="color: black"
                                                >&nbsp;300</i
                                              >
                                            </li> -->
                            </ul>
                    
                          </div>
                          <p><%=e.DESCRIPTION_COURSE%></p>
                          <a style="font-weight: bold; color: green;" href="/class/<%=e.ID%>">
                            Tham gia >>
                          </a>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <% }) %>
              </ul>
            </div>
          </div>
        </div>
        <!-- #primary -->
      </div>
    </div>
  </section>

  <% include ../../partials/footerInfo %> <% include ../../partials/footer %>

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 3000); // Change image every 3 seconds
    }
  </script>
</body>

</html>